<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
{"openapi":"3.1.0","info":{"title":"Injective BFF API","version":"1.0.0","description":"Backend-for-Frontend API providing transformed market data for Injective"},"servers":[{"url":"https://bff-api.injective.network","description":"API Server"}],"components":{"schemas":{"BffSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Spot market with token metadata and UI fields from Injective SDK"},"BffTcSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Spot market with required token metadata from Injective SDK"},"BffHelixSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"info":{"type":"object","properties":{"helixBanner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"tcBanner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"helixCategories":{"type":"array","items":{"type":"string","enum":["newMarkets","rwa","stocks","trending","injective","layer1","defi","ai","seda"]},"maxItems":10},"tcCategories":{"type":"array","items":{"type":"string","enum":["recent","crypto","stocks","macro","meme","rwa","seda"]},"maxItems":10},"isVerified":{"type":"boolean"},"symbolToken":{"type":"object","nullable":true,"properties":{"symbol":{"type":"string","minLength":1,"maxLength":50},"name":{"type":"string","minLength":1,"maxLength":100},"imageUrl":{"type":"string","nullable":true},"description":{"type":"string","nullable":true,"maxLength":1000}},"required":["symbol","name"]}},"required":["isVerified"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix spot market with required token metadata from Injective SDK"},"BffToken":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"],"description":"Merged token metadata (chain + human combined)"},"BffAccountBalancesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}}},"required":["data"],"description":"Bank balances response with transformed token metadata"},"BffBalanceWithToken":{"type":"object","properties":{"denom":{"type":"string","minLength":1},"amount":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["denom","amount","token"],"description":"Balance entry with full token metadata"},"BffPortfolioResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"accountAddress":{"type":"string","minLength":1},"bankBalances":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}},"subaccounts":{"type":"array","items":{"$ref":"#/components/schemas/BffSubaccountBalanceWithToken"}}},"required":["accountAddress","bankBalances","subaccounts"]}},"required":["data"],"description":"Account portfolio response with bank balances and subaccount balances"},"BffSubaccountBalanceWithToken":{"type":"object","properties":{"subaccountId":{"type":"string","minLength":1},"denom":{"type":"string","minLength":1},"totalBalance":{"type":"string","minLength":1},"availableBalance":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["subaccountId","denom","totalBalance","availableBalance","token"],"description":"Subaccount balance entry with flattened deposit and full token metadata"},"BffCW20BalancesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffCW20BalanceWithToken"}}},"required":["data"],"description":"CW20 balances response with enriched token metadata"},"BffCW20BalanceWithToken":{"type":"object","properties":{"contractAddress":{"type":"string"},"factoryDenom":{"type":"string","nullable":true},"balance":{"type":"string"},"token":{"type":"object","nullable":true,"properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]}},"required":["contractAddress","factoryDenom","balance","token"],"description":"CW20 balance entry with contract address and full token metadata"},"BffDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Derivative market with token metadata and UI fields from Injective SDK"},"BffTcDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Derivative market with required quote token metadata from Injective SDK"},"BffHelixDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix derivative market with required quote token metadata from Injective SDK"}},"parameters":{}},"paths":{"/api/v1/spot/markets":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets","description":"Fetches spot markets from Injective blockchain with token metadata and UI fields","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/tc":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with token metadata","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffTcSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/helix":{"get":{"tags":["Spot Markets"],"summary":"Get Helix spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with Helix branding","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Helix spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffHelixSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/token/{denom}":{"get":{"tags":["Token"],"summary":"Get token metadata by denom","description":"Fetches merged token metadata (chain + human overrides) for a given denom","parameters":[{"schema":{"type":"string","minLength":1,"description":"Token denom identifier","example":"inj"},"required":true,"description":"Token denom identifier","name":"denom","in":"path"},{"schema":{"type":"string","enum":["devnet","testnet","mainnet"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"]}},"required":["data"]}}}},"404":{"description":"Token not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/health":{"get":{"tags":["Health"],"summary":"Health check","description":"Check if the service is healthy and database is connected","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","example":"2024-01-17T00:00:00.000Z"},"database":{"type":"string","example":"connected"}},"required":["status","timestamp","database"]}}}}}}},"/api/v1/bridge/deposit":{"post":{"tags":["Bridge"],"summary":"Initiate a bridge deposit","description":"Start watching for a deposit from user to safe address","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"srcChainId":{"type":"number","example":1},"dstChainId":{"type":"number","example":1},"isFastTransfer":{"type":"boolean","default":false,"example":false},"amount":{"type":"number","example":5,"description":"Human readable amount in USDC"}},"required":["userAddress","srcChainId","dstChainId"]}}}},"responses":{"200":{"description":"Deposit watch initiated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"safeAddress":{"type":"string","example":"0x0987654321098765432109876543210987654321"},"isFastTransfer":{"type":"boolean","default":false,"example":false},"fee":{"type":"string","example":"0.000000000000000001","description":"Human readable fee in USDC"}},"required":["status"]}}}},"400":{"description":"Bad request - invalid chain or failed to create safe account","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Chain with id 999 not supported"}},"required":["status","message"]}}}}}}},"/api/v1/bridge/deposit/{address}":{"get":{"tags":["Bridge"],"summary":"Get deposit status for an address","description":"Get all deposits for a user address with pagination. Accepts both EVM (0x...) and Injective (inj1...) addresses.","parameters":[{"schema":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"required":true,"name":"address","in":"path"},{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"skip","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20,"example":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","example":"desc"},"required":false,"name":"sortOrder","in":"query"}],"responses":{"200":{"description":"Deposit status retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"userAddress":{"type":"string"},"safeAddress":{"type":"string"},"srcChainId":{"type":"number"},"dstChainId":{"type":"number"},"state":{"type":"number"},"stateName":{"type":"string","enum":["funded","approve-burn","attestation","mint","completed"]},"attestationUrl":{"type":"string","nullable":true},"attestationFeeExecuted":{"type":"string","nullable":true},"amount":{"type":"string"},"isCompleted":{"type":"boolean"},"isNotified":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"failedAt":{"type":"string","nullable":true},"failureReason":{"type":"string","nullable":true},"maxFeeQuoted":{"type":"string","nullable":true},"feeQuoteAmountQuoted":{"type":"string","nullable":true}},"required":["id","userAddress","safeAddress","srcChainId","dstChainId","state","stateName","attestationUrl","attestationFeeExecuted","amount","isCompleted","isNotified","createdAt","updatedAt","failedAt","failureReason","maxFeeQuoted","feeQuoteAmountQuoted"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"skip":{"type":"number"},"limit":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","skip","limit","hasMore"]}},"required":["data","pagination"]}}}}}}},"/api/v1/bridge/deposit/notified":{"post":{"tags":["Bridge"],"summary":"Mark deposits as notified","description":"Mark one or more deposits as notified by the client","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"depositIds":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"example":["abc123","def456"],"description":"Array of deposit IDs to mark as notified"}},"required":["depositIds"]}}}},"responses":{"200":{"description":"Deposits marked as notified","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updated":{"type":"number","example":2,"description":"Number of deposits marked as notified"}},"required":["updated"]}},"required":["data"]}}}}}}},"/api/v1/mobile/devices":{"get":{"tags":["Mobile"],"summary":"List registered devices","description":"Returns all registered Expo devices for the authenticated mobile user.","responses":{"200":{"description":"Registered devices for authenticated user","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch registered devices","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/{exponentToken}/notifications":{"patch":{"tags":["Mobile"],"summary":"Update device notification settings","description":"Updates notification preferences for one device. Allowed values are filled, liquidated, or both.","parameters":[{"schema":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"},"required":true,"name":"exponentToken","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated"]},"minItems":1,"maxItems":2}},"required":["notifications"]}}}},"responses":{"200":{"description":"Updated device settings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Device not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update notification settings","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/register":{"post":{"tags":["Mobile"],"summary":"Register Expo device","description":"Registers or updates a device token for the authenticated mobile user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"exponentToken":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated"]},"minItems":1,"maxItems":2}},"required":["exponentToken","notifications"]}}}},"responses":{"200":{"description":"Registered device","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to register device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/unregister":{"post":{"tags":["Mobile"],"summary":"Unregister Expo device","description":"Removes a previously registered Expo device token for the authenticated user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"exponentToken":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"}},"required":["exponentToken"]}}}},"responses":{"200":{"description":"Unregister result","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleted":{"type":"boolean"}},"required":["deleted"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to unregister device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications":{"get":{"tags":["Mobile"],"summary":"List notifications","description":"Lists notifications for the authenticated mobile user.","parameters":[{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0},"required":false,"name":"skip","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["unread","read","deleted"]},"required":false,"name":"status","in":"query"}],"responses":{"200":{"description":"Notifications","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"identifier":{"type":"string"},"address":{"type":"string"},"exponentTokens":{"type":"array","items":{"type":"string"}},"marketId":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string","nullable":true},"body":{"type":"string"},"data":{"nullable":true},"badge":{"type":"number","nullable":true},"type":{"type":"string","enum":["filled","liquidated","test"]},"status":{"type":"string","enum":["unread","read","deleted"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","identifier","address","exponentTokens","marketId","title","subtitle","body","badge","type","status","createdAt","updatedAt"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"skip":{"type":"number"},"limit":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","skip","limit","hasMore"]}},"required":["data","pagination"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch notifications","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/{identifier}/status":{"patch":{"tags":["Mobile"],"summary":"Update notification status","description":"Marks a notification as unread, read, or deleted for the authenticated user.","parameters":[{"schema":{"type":"string","minLength":1},"required":true,"name":"identifier","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["unread","read","deleted"]}},"required":["status"]}}}},"responses":{"200":{"description":"Updated notification","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"identifier":{"type":"string"},"address":{"type":"string"},"exponentTokens":{"type":"array","items":{"type":"string"}},"marketId":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string","nullable":true},"body":{"type":"string"},"data":{"nullable":true},"badge":{"type":"number","nullable":true},"type":{"type":"string","enum":["filled","liquidated","test"]},"status":{"type":"string","enum":["unread","read","deleted"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","identifier","address","exponentTokens","marketId","title","subtitle","body","badge","type","status","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Notification not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update notification","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/me":{"get":{"tags":["Mobile"],"summary":"Get authenticated mobile user","description":"Returns the authenticated mobile user.","responses":{"200":{"description":"Authenticated mobile user","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"address":{"type":"string"},"createdAt":{"type":"string"},"isActive":{"type":"boolean"},"lastLogin":{"type":"string"},"updatedAt":{"type":"string"}},"required":["address","createdAt","isActive","lastLogin","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch user info","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/tokens":{"get":{"tags":["Token"],"summary":"List tokens","description":"Fetches a paginated list of merged token metadata for a given network","parameters":[{"schema":{"type":"string","enum":["devnet","testnet","mainnet"],"default":"mainnet","description":"Network to fetch tokens for","example":"mainnet"},"required":false,"description":"Network to fetch tokens for","name":"network","in":"query"},{"schema":{"type":"integer","minimum":1,"default":1,"description":"Page number (1-based)","example":1},"required":false,"description":"Page number (1-based)","name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":1000,"default":100,"description":"Tokens per page (max 1000)","example":100},"required":false,"description":"Tokens per page (max 1000)","name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of merged tokens","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffToken"}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"page":{"type":"number"},"limit":{"type":"number"},"totalPages":{"type":"number"}},"required":["total","page","limit","totalPages"]}},"required":["data","pagination"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/balances/{address}":{"get":{"tags":["Account"],"summary":"Get bank balances","description":"Fetches on-chain bank balances for an address with full token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":1000,"default":200},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","default":"false"},"required":false,"name":"fetchAll","in":"query"}],"responses":{"200":{"description":"Bank balances with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffAccountBalancesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/portfolio/{address}":{"get":{"tags":["Account"],"summary":"Get account portfolio","description":"Fetches account portfolio with bank balances and subaccount balances, including full token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Account portfolio with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffPortfolioResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/cw20-balances/{address}":{"get":{"tags":["Account"],"summary":"Get CW20 balances","description":"Fetches CW20 token balances for an address with enriched token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"CW20 balances with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffCW20BalancesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/entry-code/verify":{"get":{"tags":["EntryCode"],"summary":"Check entry code claim status","description":"Checks whether a wallet address has already claimed any entry code.","parameters":[{"schema":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i"},"required":true,"name":"address","in":"query"}],"responses":{"200":{"description":"Entry code claim status for wallet address","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"hasClaimedEntryCode":{"type":"boolean"}},"required":["hasClaimedEntryCode"]}},"required":["data"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"tags":["EntryCode"],"summary":"Verify and claim an entry code","description":"Verifies an entry code for a wallet address. If valid and not previously used by this address, it also claims one usage slot for that address.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","minLength":4,"maxLength":32,"pattern":"^[a-zA-Z0-9]+$"},"address":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i"}},"required":["code","address"]}}}},"responses":{"200":{"description":"Entry code is valid","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isValid":{"type":"boolean"},"alreadyUsed":{"type":"boolean"},"code":{"type":"string","minLength":4,"maxLength":32,"pattern":"^[A-Z0-9]+$"},"usageCap":{"type":"integer","minimum":1},"totalUses":{"type":"integer","minimum":0},"remainingUses":{"type":"integer","minimum":0},"expiresAt":{"type":"string","nullable":true}},"required":["isValid","alreadyUsed","code","usageCap","totalUses","remainingUses","expiresAt"]}},"required":["data"]}}}},"403":{"description":"Entry code is disabled, expired, or fully used","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Entry code not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets":{"get":{"tags":["Derivative Markets"],"summary":"Get derivative markets","description":"Fetches perpetual derivative markets from Injective blockchain with token metadata and UI fields","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets/tc":{"get":{"tags":["Derivative Markets"],"summary":"Get derivative markets with token metadata","description":"Fetches perpetual derivative markets from Injective blockchain and transforms them with token metadata","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffTcDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets/helix":{"get":{"tags":["Derivative Markets"],"summary":"Get Helix derivative markets with token metadata","description":"Fetches perpetual derivative markets from Injective blockchain and transforms them with Helix branding","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Helix derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffHelixDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/authorization":{"post":{"tags":["Auth"],"summary":"Authorize wallet signature","description":"Validates wallet signature and issues JWT + refresh token cookie.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"signature":{"type":"string","example":"A9lVc2fw+..."},"data":{"type":"string","example":"Sign this message to authenticate with Injective Admin. Nonce: 9a1418fd-efdb-455d-9c61-57fcdadfb2f0"},"sender":{"type":"string","example":"inj1h4he4k6cyysc6yhhf4y7h3w0q6mc4vhh4vqv9n"}},"required":["signature","data","sender"]}}}},"responses":{"200":{"description":"Authorization successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"accessToken":{"type":"string","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJpbmoxLi4uIiwiZXhwIjoxNzA1NTQwMDAwfQ.signature"},"expiresAt":{"type":"number","example":1705540000,"description":"JWT expiration timestamp in seconds"},"refreshTokenExpiresAt":{"type":"number","example":1705626400000,"description":"Refresh token expiration timestamp in milliseconds"}},"required":["accessToken","expiresAt","refreshTokenExpiresAt"]}},"required":["data"]}}}},"400":{"description":"Invalid auth payload or nonce","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}},"401":{"description":"Invalid signature","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}},"500":{"description":"Failed to create auth tokens","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}}}}},"/api/v1/mobile/authorization/start":{"post":{"tags":["Auth"],"summary":"Start authentication flow","description":"Generates a nonce used to sign an authentication message.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","example":"inj1h4he4k6cyysc6yhhf4y7h3w0q6mc4vhh4vqv9n"}},"required":["userAddress"]}}}},"responses":{"200":{"description":"Nonce generated","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"nonce":{"type":"string","example":"9a1418fd-efdb-455d-9c61-57fcdadfb2f0"}},"required":["nonce"]}},"required":["data"]}}}},"500":{"description":"Failed to store nonce","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}}}}},"/api/v1/mobile/authorization/logout":{"post":{"tags":["Auth"],"summary":"Logout current session","description":"Revokes the active refresh token and clears auth cookies.","responses":{"200":{"description":"Successfully logged out","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Logged out successfully"}},"required":["message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}},"500":{"description":"Failed to revoke refresh token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}}}}},"/api/v1/mobile/authorization/logout-all":{"post":{"tags":["Auth"],"summary":"Logout all sessions","description":"Revokes all refresh tokens for the authenticated address.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","example":"inj1h4he4k6cyysc6yhhf4y7h3w0q6mc4vhh4vqv9n"}},"required":["address"]}}}},"responses":{"200":{"description":"All sessions revoked","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"revokedCount":{"type":"number","example":3}}},"message":{"type":"string","example":"All sessions logged out successfully"}},"required":["data","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}},"500":{"description":"Failed to revoke refresh tokens","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"code":{"type":"string","example":"JWT_ERROR"}},"required":["error"]}}}}}}}}}
=======
{"openapi":"3.1.0","info":{"title":"Injective BFF API","version":"1.0.0","description":"Backend-for-Frontend API providing transformed market data for Injective"},"servers":[{"url":"https://staging.bff-api.injective.network","description":"API Server"}],"components":{"schemas":{"BffSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Spot market with token metadata and UI fields from Injective SDK"},"BffTcSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Spot market with required token metadata from Injective SDK"},"BffHelixSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"info":{"type":"object","properties":{"helixBanner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"tcBanner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"helixCategories":{"type":"array","items":{"type":"string","enum":["newMarkets","rwa","stocks","trending","injective","layer1","defi","ai","seda"]},"maxItems":10},"tcCategories":{"type":"array","items":{"type":"string","enum":["recent","crypto","stocks","macro","meme","rwa","seda"]},"maxItems":10},"isVerified":{"type":"boolean"},"symbolToken":{"type":"object","nullable":true,"properties":{"symbol":{"type":"string","minLength":1,"maxLength":50},"name":{"type":"string","minLength":1,"maxLength":100},"imageUrl":{"type":"string","nullable":true},"description":{"type":"string","nullable":true,"maxLength":1000}},"required":["symbol","name"]}},"required":["isVerified"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix spot market with required token metadata from Injective SDK"},"BffAccountBalancesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}}},"required":["data"],"description":"Bank balances response with transformed token metadata"},"BffBalanceWithToken":{"type":"object","properties":{"denom":{"type":"string","minLength":1},"amount":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["denom","amount","token"],"description":"Balance entry with full token metadata"},"BffToken":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"],"description":"Merged token metadata (chain + human combined)"},"BffPortfolioResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"accountAddress":{"type":"string","minLength":1},"bankBalances":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}},"subaccounts":{"type":"array","items":{"$ref":"#/components/schemas/BffSubaccountBalanceWithToken"}}},"required":["accountAddress","bankBalances","subaccounts"]}},"required":["data"],"description":"Account portfolio response with bank balances and subaccount balances"},"BffSubaccountBalanceWithToken":{"type":"object","properties":{"subaccountId":{"type":"string","minLength":1},"denom":{"type":"string","minLength":1},"totalBalance":{"type":"string","minLength":1},"availableBalance":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["subaccountId","denom","totalBalance","availableBalance","token"],"description":"Subaccount balance entry with flattened deposit and full token metadata"},"BffDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Derivative market with token metadata and UI fields from Injective SDK"},"BffTcDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Derivative market with required quote token metadata from Injective SDK"},"BffHelixDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"marketType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"slug":{"type":"string"},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"banner":{"type":"object","nullable":true,"properties":{"content":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0,"exclusiveMinimum":true},"endDate":{"type":"integer","nullable":true,"minimum":0,"exclusiveMinimum":true}},"required":["content","startDate"]},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","marketType","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix derivative market with required quote token metadata from Injective SDK"}},"parameters":{}},"paths":{"/api/v1/spot/markets":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets","description":"Fetches spot markets from Injective blockchain with token metadata and UI fields","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/tc":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with token metadata","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffTcSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/helix":{"get":{"tags":["Spot Markets"],"summary":"Get Helix spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with Helix branding","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Helix spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffHelixSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/token/{denom}":{"get":{"tags":["Token"],"summary":"Get token metadata by denom","description":"Fetches merged token metadata (chain + human overrides) for a given denom","parameters":[{"schema":{"type":"string","minLength":1,"description":"Token denom identifier","example":"inj"},"required":true,"description":"Token denom identifier","name":"denom","in":"path"},{"schema":{"type":"string","enum":["devnet","testnet","mainnet"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"]}},"required":["data"]}}}},"404":{"description":"Token not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/health":{"get":{"tags":["Health"],"summary":"Health check","description":"Check if the service is healthy and database is connected","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","example":"2024-01-17T00:00:00.000Z"},"database":{"type":"string","example":"connected"}},"required":["status","timestamp","database"]}}}}}}},"/api/v1/bridge/deposit":{"post":{"tags":["Bridge"],"summary":"Initiate a bridge deposit","description":"Start watching for a deposit from user to safe address","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"sr
[...]
