{"openapi":"3.1.0","info":{"title":"Injective BFF API","version":"1.0.0","description":"Backend-for-Frontend API providing transformed market data for Injective"},"servers":[{"url":"https://bff-api.injective.network","description":"API Server"}],"components":{"schemas":{"BffSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Spot market with token metadata and UI fields from Injective SDK"},"BffTcSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Spot market with required token metadata from Injective SDK"},"BffHelixSpotMarket":{"type":"object","properties":{"baseDenom":{"type":"string"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"quoteDenom":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["baseDenom","makerFeeRate","marketId","minNotional","quoteDenom","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix spot market with required token metadata from Injective SDK"},"BffToken":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"],"description":"Merged token metadata (chain + human combined)"},"BffAccountBalancesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}}},"required":["data"],"description":"Bank balances response with transformed token metadata"},"BffBalanceWithToken":{"type":"object","properties":{"denom":{"type":"string","minLength":1},"amount":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["denom","amount","token"],"description":"Balance entry with full token metadata"},"BffPortfolioResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"accountAddress":{"type":"string","minLength":1},"bankBalances":{"type":"array","items":{"$ref":"#/components/schemas/BffBalanceWithToken"}},"subaccounts":{"type":"array","items":{"$ref":"#/components/schemas/BffSubaccountBalanceWithToken"}}},"required":["accountAddress","bankBalances","subaccounts"]}},"required":["data"],"description":"Account portfolio response with bank balances and subaccount balances"},"BffSubaccountBalanceWithToken":{"type":"object","properties":{"subaccountId":{"type":"string","minLength":1},"denom":{"type":"string","minLength":1},"totalBalance":{"type":"string","minLength":1},"availableBalance":{"type":"string","minLength":1},"token":{"$ref":"#/components/schemas/BffToken"}},"required":["subaccountId","denom","totalBalance","availableBalance","token"],"description":"Subaccount balance entry with flattened deposit and full token metadata"},"BffCW20BalancesResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffCW20BalanceWithToken"}}},"required":["data"],"description":"CW20 balances response with enriched token metadata"},"BffCW20BalanceWithToken":{"type":"object","properties":{"contractAddress":{"type":"string"},"factoryDenom":{"type":"string","nullable":true},"balance":{"type":"string"},"token":{"type":"object","nullable":true,"properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]}},"required":["contractAddress","factoryDenom","balance","token"],"description":"CW20 balance entry with contract address and full token metadata"},"BffAppConfig":{"type":"object","properties":{"announcements":{"type":"array","items":{"$ref":"#/components/schemas/BffAnnouncement"}},"bannedCountries":{"type":"array","items":{"type":"string","pattern":"^[A-Z]{2}$"}},"ofacCountries":{"type":"array","items":{"type":"string","pattern":"^[A-Z]{2}$"}},"chainUpgradeConfig":{"$ref":"#/components/schemas/BffChainUpgradeConfig"},"disableTrading":{"type":"boolean","description":"Whether all trading is currently disabled. Only present when app=tc."}},"required":["announcements","bannedCountries","ofacCountries","chainUpgradeConfig"],"description":"Combined network and app configuration data including announcements, banned countries, and chain upgrade config"},"BffAnnouncement":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string","minLength":1,"maxLength":100},"description":{"type":"string","minLength":1,"maxLength":500},"link":{"type":"string","nullable":true,"format":"uri"},"startDate":{"type":"integer","minimum":0},"endDate":{"type":"integer","nullable":true,"minimum":0},"isLive":{"type":"boolean"}},"required":["id","title","description","startDate","isLive"],"description":"App announcement configuration with title, description, optional link, and date range"},"BffChainUpgradeConfig":{"type":"object","nullable":true,"properties":{"proposalId":{"type":"integer","minimum":0,"exclusiveMinimum":true},"blockHeight":{"type":"integer","minimum":0,"exclusiveMinimum":true},"proposalMsg":{"type":"string","minLength":1,"maxLength":500},"disableMaintenance":{"type":"boolean"}},"required":["proposalId","blockHeight","proposalMsg","disableMaintenance"],"description":"Chain upgrade configuration with proposal details"},"BffDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","nullable":true,"properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","nullable":true,"properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","nullable":true,"properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","nullable":true,"properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier"],"description":"Derivative market with token metadata and UI fields from Injective SDK"},"BffTcDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","nullable":true,"properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","nullable":true,"properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","nullable":true,"properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","nullable":true,"properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Derivative market with required quote token metadata from Injective SDK"},"BffHelixDerivativeMarket":{"type":"object","properties":{"expiryFuturesMarketInfo":{"type":"object","nullable":true,"properties":{"expirationTimestamp":{"type":"integer"},"settlementPrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}},"required":["expirationTimestamp"]},"initialMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"isPerpetual":{"type":"boolean"},"maintenanceMarginRatio":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"makerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"marketId":{"type":"string","minLength":66,"maxLength":66,"pattern":"^0x[0-9a-fA-F]{64}$"},"marketStatus":{"type":"string","enum":["active","paused","suspended","demolished","expired"],"default":"active"},"minNotional":{"type":"string"},"minPriceTickSize":{"type":"string","default":"0.001"},"minQuantityTickSize":{"type":"string","default":"0.001"},"openNotionalCap":{"type":"object","nullable":true,"properties":{"Cap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"}}},"oracleBase":{"type":"string"},"oracleQuote":{"type":"string"},"oracleScaleFactor":{"type":"integer"},"oracleType":{"type":"string"},"perpetualMarketFunding":{"type":"object","nullable":true,"properties":{"cumulativeFunding":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"cumulativePrice":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastFundingRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"lastTimestamp":{"type":"integer"}},"required":["cumulativeFunding","cumulativePrice","lastFundingRate","lastTimestamp"]},"perpetualMarketInfo":{"type":"object","nullable":true,"properties":{"fundingInterval":{"type":"integer"},"hourlyFundingRateCap":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"hourlyInterestRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"nextFundingTimestamp":{"type":"integer"}},"required":["fundingInterval","hourlyFundingRateCap","hourlyInterestRate","nextFundingTimestamp"]},"quoteDenom":{"type":"string"},"reduceMarginRatio":{"type":"string"},"serviceProviderFee":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"takerFeeRate":{"type":"string","maxLength":100,"pattern":"^-?\\d+(\\.\\d+)?$"},"ticker":{"type":"string"},"baseToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"quoteToken":{"type":"object","properties":{"name":{"type":"string"},"logo":{"type":"string"},"denom":{"type":"string"},"symbol":{"type":"string"},"coinGeckoId":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]}},"required":["name","logo","denom","symbol","coinGeckoId","decimals","tokenType"]},"slug":{"type":"string"},"aliasSlug":{"type":"string","nullable":true},"type":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"subType":{"type":"string","enum":["spot","futures","perpetual","derivative","binaryOptions"]},"priceDecimals":{"type":"number"},"quantityDecimals":{"type":"number"},"minNotionalInToken":{"type":"string"},"priceTensMultiplier":{"type":"number"},"quantityTensMultiplier":{"type":"number"},"isVerified":{"type":"boolean"},"categories":{"type":"array","items":{"type":"string"},"default":[]}},"required":["initialMarginRatio","isPerpetual","maintenanceMarginRatio","makerFeeRate","marketId","minNotional","oracleBase","oracleQuote","oracleScaleFactor","oracleType","quoteDenom","reduceMarginRatio","serviceProviderFee","takerFeeRate","ticker","baseToken","quoteToken","slug","type","subType","priceDecimals","quantityDecimals","minNotionalInToken","priceTensMultiplier","quantityTensMultiplier","isVerified"],"description":"Helix derivative market with required quote token metadata from Injective SDK"}},"parameters":{}},"paths":{"/api/v1/spot/markets":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets","description":"Fetches spot markets from Injective blockchain with token metadata and UI fields","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/tc":{"get":{"tags":["Spot Markets"],"summary":"Get spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with token metadata","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffTcSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/spot/markets/helix":{"get":{"tags":["Spot Markets"],"summary":"Get Helix spot markets with token metadata","description":"Fetches spot markets from Injective blockchain and transforms them with Helix branding","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Helix spot markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffHelixSpotMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/token/{denom}":{"get":{"tags":["Token"],"summary":"Get token metadata by denom","description":"Fetches merged token metadata (chain + human overrides) for a given denom","parameters":[{"schema":{"type":"string","minLength":1,"description":"Token denom identifier","example":"inj"},"required":true,"description":"Token denom identifier","name":"denom","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"denom":{"type":"string"},"network":{"type":"string","enum":["devnet","testnet","mainnet"]},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer","minimum":0,"maximum":18},"description":{"type":"string"},"logo":{"type":"string","nullable":true},"coinGeckoId":{"type":"string","nullable":true},"tokenVerification":{"type":"string","nullable":true,"enum":["verified","unverified",null]},"tokenType":{"type":"string","enum":["ibc","cw20","spl","erc20","lp","evm","native","symbol","tokenFactory","insuranceFund","unknown"]},"isNative":{"type":"boolean"},"creator":{"type":"string","nullable":true},"denomUnits":{"type":"array","items":{"type":"object","properties":{"denom":{"type":"string"},"exponent":{"type":"integer","minimum":0,"maximum":18},"aliases":{"type":"array","items":{"type":"string"}}},"required":["denom","exponent","aliases"]}},"base":{"type":"string"},"display":{"type":"string"},"isActive":{"type":"boolean"},"uriStatus":{"type":"string","enum":["pending","valid","invalid","unreachable"]}},"required":["denom","network","name","symbol","decimals","description","tokenType","isNative","denomUnits","base","display","isActive","uriStatus"]}},"required":["data"]}}}},"404":{"description":"Token not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/health":{"get":{"tags":["Health"],"summary":"Health check","description":"Check if the service is healthy and database is connected","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","example":"2024-01-17T00:00:00.000Z"},"database":{"type":"string","example":"connected"},"redis":{"type":"string","example":"connected"}},"required":["status","timestamp","database","redis"]}}}}}}},"/api/v1/health/ready":{"get":{"tags":["Health"],"summary":"Readiness check","description":"Returns 200 only when MongoDB and Redis answer a live ping from this pod. Designed for the Kubernetes readinessProbe so traffic is shed from pods that cannot actually serve requests.","responses":{"200":{"description":"Pod is ready to serve traffic","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","example":"2024-01-17T00:00:00.000Z"},"database":{"type":"string","example":"connected"},"redis":{"type":"string","example":"connected"}},"required":["status","timestamp","database","redis"]}}}},"503":{"description":"Pod cannot serve traffic (Mongo or Redis unreachable)","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","example":"2024-01-17T00:00:00.000Z"},"database":{"type":"string","example":"connected"},"redis":{"type":"string","example":"connected"}},"required":["status","timestamp","database","redis"]}}}}}}},"/api/v1/bridge/deposit":{"post":{"tags":["Bridge"],"summary":"Initiate a bridge deposit","description":"Start watching for a deposit from user to safe address","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"srcChainId":{"type":"number","example":1},"dstChainId":{"type":"number","example":1},"isFastTransfer":{"type":"boolean","default":false,"example":false},"amount":{"type":"number","example":5,"description":"Optional human readable USDC amount used purely to render an estimated fee in the response. The user-approved fee cap is amount-agnostic (stored as bps)."},"device":{"type":"string","enum":["desktop","mobile"],"example":"mobile","description":"Client platform initiating the bridge"}},"required":["userAddress","srcChainId","dstChainId","device"]}}}},"responses":{"200":{"description":"Deposit watch initiated or reused successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"safeAddress":{"type":"string","example":"0x0987654321098765432109876543210987654321"},"isFastTransfer":{"type":"boolean","default":false,"example":false},"maxFeeBps":{"type":"string","example":"1.2","description":"User-approved fast-transfer fee cap as a decimal-bps string (Circle minimumFee × 1.2). For standard transfers, equal to Circle minimumFee with no inflation."},"fee":{"type":"string","example":"0.0006","description":"Estimated human-readable fee in USDC at the requested amount. Only present when amount is supplied."},"depositId":{"type":"string","example":"67890abcdef0123456789abc","description":"ID of the existing or newly-tracked deposit row. Returned on idempotent reuse."},"status":{"type":"string","enum":["pending","in_flight","retrying"],"example":"pending","description":"`pending` (fresh schedule, no row yet), `in_flight` (existing pre-burn row reused), or `retrying` (previously-failed row re-armed by the user)."},"stateName":{"type":"string","example":"funded","description":"Human-readable bridge state name for the existing row, when reused."}},"required":["safeAddress","maxFeeBps"]}},"required":["data"]}}}},"400":{"description":"Bad request - invalid chain or failed to create safe account","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Chain with id 999 not supported"}},"required":["error"]}}}},"409":{"description":"Conflict — an existing transfer for this safe address blocks scheduling a new one (refund in progress, or admin reconciliation required).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"A refund is in progress for this transfer. You will receive your funds shortly."},"code":{"type":"string","enum":["BRIDGE_REFUND_IN_PROGRESS","BRIDGE_UNRECOVERABLE_AWAITING_ADMIN"],"example":"BRIDGE_REFUND_IN_PROGRESS"},"depositId":{"type":"string","example":"67890abcdef0123456789abc"},"failureReason":{"type":"string","example":"Lost pendingAction claim before burn submission","description":"Set when code === BRIDGE_UNRECOVERABLE_AWAITING_ADMIN."}},"required":["error","code","depositId"]}}}},"502":{"description":"Bad gateway - failed to fetch CCTP fee from upstream","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to fetch CCTP fee"}},"required":["error"]}}}},"503":{"description":"Service unavailable - failed to schedule deposit monitoring","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to schedule deposit monitoring"}},"required":["error"]}}}}}}},"/api/v1/bridge/deposit/{address}":{"get":{"tags":["Bridge"],"summary":"Get deposit status for an address","description":"Get all deposits for a user address with pagination. Accepts both EVM (0x...) and Injective (inj1...) addresses.","parameters":[{"schema":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"required":true,"name":"address","in":"path"},{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"skip","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20,"example":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","example":"desc"},"required":false,"name":"sortOrder","in":"query"}],"responses":{"200":{"description":"Deposit status retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"userAddress":{"type":"string"},"safeAddress":{"type":"string"},"srcChainId":{"type":"number"},"dstChainId":{"type":"number"},"state":{"type":"number"},"stateName":{"type":"string","enum":["funded","approve-burn","attestation","mint","completed","refunded"]},"attestationUrl":{"type":"string","nullable":true},"attestationFeeExecuted":{"type":"string","nullable":true},"amount":{"type":"string"},"isCompleted":{"type":"boolean"},"isNotified":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"failedAt":{"type":"string","nullable":true},"failureReason":{"type":"string","nullable":true},"isFastTransfer":{"type":"boolean"},"maxFeeBpsQuoted":{"type":"string","nullable":true},"txHashes":{"type":"array","items":{"type":"object","properties":{"action":{"type":"string"},"hash":{"type":"string"},"createdAt":{"type":"string"}},"required":["action","hash","createdAt"]}}},"required":["id","userAddress","safeAddress","srcChainId","dstChainId","state","stateName","attestationUrl","attestationFeeExecuted","amount","isCompleted","isNotified","createdAt","updatedAt","failedAt","failureReason","isFastTransfer","maxFeeBpsQuoted","txHashes"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"skip":{"type":"number"},"limit":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","skip","limit","hasMore"]}},"required":["data","pagination"]}}}}}}},"/api/v1/bridge/notified":{"post":{"tags":["Bridge"],"summary":"Mark bridge transfers as notified","description":"Mark one or more deposits or withdrawals as notified by the client","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":100,"example":["abc123","def456"],"description":"Array of deposit or withdrawal IDs to mark as notified"},"device":{"type":"string","enum":["desktop","mobile"],"example":"mobile","description":"Client platform initiating the bridge"}},"required":["ids","device"]}}}},"responses":{"200":{"description":"Bridge transfers marked as notified","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"updated":{"type":"number","example":2,"description":"Number of transfers marked as notified"}},"required":["updated"]}},"required":["data"]}}}}}}},"/api/v1/bridge/mint":{"post":{"tags":["Bridge"],"summary":"Relay a CCTP mint","description":"Executes Circle CCTP V2 MessageTransmitter.receiveMessage on the destination chain using the BFF server wallet.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","pattern":"^0x(?:[0-9a-fA-F]{2})+$","example":"0x00000001...","description":"Circle CCTP V2 message bytes"},"attestation":{"type":"string","pattern":"^0x(?:[0-9a-fA-F]{2})+$","example":"0xabcdef...","description":"Circle attestation signature bytes"},"destinationChainId":{"type":"integer","example":8453,"description":"Destination EVM chain id"}},"required":["message","attestation","destinationChainId"]}}}},"responses":{"200":{"description":"Mint transaction mined successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"transactionHash":{"type":"string","example":"0x1234567890123456789012345678901234567890123456789012345678901234"},"chainId":{"type":"number","example":8453},"chainName":{"type":"string","example":"Base"}},"required":["success","transactionHash","chainId","chainName"]}}}},"400":{"description":"Invalid request body or unsupported destination chain","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]},{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","enum":["INVALID_REQUEST","UNSUPPORTED_CHAIN","ALREADY_PROCESSED","EXECUTION_FAILED","MISSING_CONFIG"]}},"required":["success","error","code"]}]}}}},"409":{"description":"Message was already processed or is currently being relayed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","enum":["INVALID_REQUEST","UNSUPPORTED_CHAIN","ALREADY_PROCESSED","EXECUTION_FAILED","MISSING_CONFIG"]}},"required":["success","error","code"]}}}},"500":{"description":"Relayer execution failed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"string"},"code":{"type":"string","enum":["INVALID_REQUEST","UNSUPPORTED_CHAIN","ALREADY_PROCESSED","EXECUTION_FAILED","MISSING_CONFIG"]}},"required":["success","error","code"]}}}}}}},"/api/v1/bridge/withdrawal":{"post":{"tags":["Bridge"],"summary":"Initiate a bridge withdrawal","description":"Start watching for a withdrawal from user to safe address on Injective EVM. The server burns the user-funded USDC on Injective and mints it on the destination chain, taking a flat service fee for paying gas on both sides.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"srcChainId":{"type":"number","example":1439,"description":"Must be an Injective EVM chain id"},"dstChainId":{"type":"number","example":421614},"isFastTransfer":{"type":"boolean","default":false,"example":false,"description":"Fast transfer is unverified for Injective-source burns and is forced to false by the server."},"amount":{"type":"number","example":5,"description":"Human readable amount in USDC"},"device":{"type":"string","enum":["desktop","mobile"],"example":"mobile","description":"Client platform initiating the bridge"}},"required":["userAddress","srcChainId","dstChainId","device"]}}}},"responses":{"200":{"description":"Withdrawal watch initiated or reused successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"safeAddress":{"type":"string","example":"0x0987654321098765432109876543210987654321"},"isFastTransfer":{"type":"boolean","default":false,"example":false},"fees":{"type":"object","properties":{"serviceFee":{"type":"string","example":"1000000","description":"Flat service fee in USDC base units"},"circleFee":{"type":"string","nullable":true,"example":"1000","description":"Maximum Circle CCTP protocol fee in USDC base units, including the fast-transfer safety margin when applicable (null if amount omitted)"},"total":{"type":"string","example":"1001000","description":"serviceFee + circleFee, in USDC base units"}},"required":["serviceFee","circleFee","total"],"description":"Fee breakdown the user will pay"},"depositId":{"type":"string","example":"67890abcdef0123456789abc","description":"ID of the existing or newly-tracked withdrawal row. Returned on idempotent reuse."},"status":{"type":"string","enum":["pending","in_flight","retrying"],"example":"pending","description":"`pending` (fresh schedule), `in_flight` (existing pre-burn row reused), or `retrying` (previously-failed row re-armed by the user)."},"stateName":{"type":"string","example":"funded","description":"Human-readable bridge state name for the existing row, when reused."}},"required":["safeAddress","fees"]}},"required":["data"]}}}},"400":{"description":"Bad request — invalid chain, amount too small, or failed to derive safe","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"srcChainId must be an Injective chain"}},"required":["error"]}}}},"409":{"description":"Conflict — an existing withdrawal for this safe address blocks scheduling a new one (refund in progress, or admin reconciliation required).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"A refund is in progress for this transfer. You will receive your funds shortly."},"code":{"type":"string","enum":["BRIDGE_REFUND_IN_PROGRESS","BRIDGE_UNRECOVERABLE_AWAITING_ADMIN"],"example":"BRIDGE_REFUND_IN_PROGRESS"},"depositId":{"type":"string","example":"67890abcdef0123456789abc"},"failureReason":{"type":"string","example":"Lost pendingAction claim before burn submission","description":"Set when code === BRIDGE_UNRECOVERABLE_AWAITING_ADMIN."}},"required":["error","code","depositId"]}}}},"502":{"description":"Bad gateway — failed to fetch CCTP fee from upstream","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to fetch CCTP fee"}},"required":["error"]}}}},"503":{"description":"Service unavailable — failed to schedule withdrawal monitoring","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Failed to schedule withdrawal monitoring"}},"required":["error"]}}}}}}},"/api/v1/bridge/withdrawal/{address}":{"get":{"tags":["Bridge"],"summary":"Get withdrawal status for an address","description":"Get all withdrawals for a user address with pagination. Accepts both EVM (0x...) and Injective (inj1...) addresses.","parameters":[{"schema":{"type":"string","example":"0x1234567890123456789012345678901234567890"},"required":true,"name":"address","in":"path"},{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"skip","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20,"example":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","example":"desc"},"required":false,"name":"sortOrder","in":"query"}],"responses":{"200":{"description":"Withdrawal status retrieved","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"userAddress":{"type":"string"},"safeAddress":{"type":"string"},"srcChainId":{"type":"number"},"dstChainId":{"type":"number"},"state":{"type":"number"},"stateName":{"type":"string","enum":["funded","approve-burn","attestation","mint","completed","refunded"]},"attestationUrl":{"type":"string","nullable":true},"attestationFeeExecuted":{"type":"string","nullable":true},"amount":{"type":"string"},"serviceFeeAmount":{"type":"string","nullable":true},"isCompleted":{"type":"boolean"},"isNotified":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"failedAt":{"type":"string","nullable":true},"failureReason":{"type":"string","nullable":true},"isFastTransfer":{"type":"boolean"},"maxFeeBpsQuoted":{"type":"string","nullable":true},"txHashes":{"type":"array","items":{"type":"object","properties":{"action":{"type":"string"},"hash":{"type":"string"},"createdAt":{"type":"string"}},"required":["action","hash","createdAt"]}}},"required":["id","userAddress","safeAddress","srcChainId","dstChainId","state","stateName","attestationUrl","attestationFeeExecuted","amount","serviceFeeAmount","isCompleted","isNotified","createdAt","updatedAt","failedAt","failureReason","isFastTransfer","maxFeeBpsQuoted","txHashes"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"skip":{"type":"number"},"limit":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","skip","limit","hasMore"]}},"required":["data","pagination"]}}}}}}},"/api/v1/mobile/devices":{"get":{"tags":["Mobile"],"summary":"List registered devices","description":"Returns registered Expo devices for the authenticated mobile user on the requested network. Defaults to Mainnet when `network` is omitted.","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Registered devices for authenticated user","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","margin_warning","price_change","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch registered devices","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/{exponentToken}/notifications":{"patch":{"tags":["Mobile"],"summary":"Update device notification settings","description":"Updates notification preferences for one device. Allowed values are filled, liquidated, margin_warning, price_change, or any combination thereof.","parameters":[{"schema":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"},"required":true,"name":"exponentToken","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","margin_warning","price_change"]},"minItems":1,"maxItems":4},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}},"required":["notifications"]}}}},"responses":{"200":{"description":"Updated device settings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","margin_warning","price_change","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Device not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update notification settings","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/register":{"post":{"tags":["Mobile"],"summary":"Register Expo device","description":"Registers or updates a device token for the authenticated mobile user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"exponentToken":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","margin_warning","price_change"]},"minItems":1,"maxItems":4},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}},"required":["exponentToken","notifications"]}}}},"responses":{"200":{"description":"Registered device","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"exponentToken":{"type":"string"},"notifications":{"type":"array","items":{"type":"string","enum":["filled","liquidated","margin_warning","price_change","test"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","address","exponentToken","notifications","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to register device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/devices/unregister":{"post":{"tags":["Mobile"],"summary":"Unregister Expo device","description":"Removes a previously registered Expo device token for the authenticated user on the requested network. Defaults to Mainnet if `network` is omitted.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"exponentToken":{"type":"string","pattern":"^(ExponentPushToken|ExpoPushToken)\\[[^\\]]+\\]$"},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}},"required":["exponentToken"]}}}},"responses":{"200":{"description":"Unregister result","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"deleted":{"type":"boolean"}},"required":["deleted"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to unregister device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications":{"get":{"tags":["Mobile"],"summary":"List notifications","description":"Lists notifications for the authenticated mobile user.","parameters":[{"schema":{"type":"integer","nullable":true,"minimum":0,"default":0},"required":false,"name":"skip","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["unread","read","deleted"]},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Notifications","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"identifier":{"type":"string"},"address":{"type":"string"},"exponentTokens":{"type":"array","items":{"type":"string"}},"marketId":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string","nullable":true},"body":{"type":"string"},"data":{"nullable":true},"badge":{"type":"number","nullable":true},"type":{"type":"string","enum":["filled","liquidated","margin_warning","price_change","test"]},"status":{"type":"string","enum":["unread","read","deleted"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","identifier","address","exponentTokens","marketId","title","subtitle","body","badge","type","status","createdAt","updatedAt"]}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"skip":{"type":"number"},"limit":{"type":"number"},"hasMore":{"type":"boolean"}},"required":["total","skip","limit","hasMore"]}},"required":["data","pagination"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch notifications","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/config":{"get":{"tags":["Mobile"],"summary":"Get all notification configs","description":"Returns all notification alert configurations for the authenticated mobile user on the requested network. Returns defaults for any configs that have not been explicitly set.","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"All notification configurations","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"priceAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"symbols":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","symbols"]},"marginAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"warningThreshold":{"type":"number"},"criticalThreshold":{"type":"number"},"warningCooldownSeconds":{"type":"number"},"criticalCooldownSeconds":{"type":"number"},"excludedMarketIds":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","warningThreshold","criticalThreshold","warningCooldownSeconds","criticalCooldownSeconds","excludedMarketIds"]},"liquidationAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]}},"required":["priceAlerts","marginAlerts","liquidationAlerts"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch notification configs","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Mobile"],"summary":"Update notification configs","description":"Bulk update notification alert configurations for the authenticated mobile user on the requested network. Any config not included in the request body is left unchanged.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"priceAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]},"marginAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]},"liquidationAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}}}}}},"responses":{"200":{"description":"Updated notification configurations","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"priceAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"symbols":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","symbols"]},"marginAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"warningThreshold":{"type":"number"},"criticalThreshold":{"type":"number"},"warningCooldownSeconds":{"type":"number"},"criticalCooldownSeconds":{"type":"number"},"excludedMarketIds":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","warningThreshold","criticalThreshold","warningCooldownSeconds","criticalCooldownSeconds","excludedMarketIds"]},"liquidationAlerts":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]}},"required":["priceAlerts","marginAlerts","liquidationAlerts"]}},"required":["data"]}}}},"400":{"description":"No registered device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update notification configs","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/{identifier}/status":{"patch":{"tags":["Mobile"],"summary":"Update notification status","description":"Marks a notification as unread, read, or deleted for the authenticated user.","parameters":[{"schema":{"type":"string","minLength":1},"required":true,"name":"identifier","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["unread","read","deleted"]}},"required":["status"]}}}},"responses":{"200":{"description":"Updated notification","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"identifier":{"type":"string"},"address":{"type":"string"},"exponentTokens":{"type":"array","items":{"type":"string"}},"marketId":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string","nullable":true},"body":{"type":"string"},"data":{"nullable":true},"badge":{"type":"number","nullable":true},"type":{"type":"string","enum":["filled","liquidated","margin_warning","price_change","test"]},"status":{"type":"string","enum":["unread","read","deleted"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","identifier","address","exponentTokens","marketId","title","subtitle","body","badge","type","status","createdAt","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Notification not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update notification","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/me":{"get":{"tags":["Mobile"],"summary":"Get authenticated mobile user","description":"Returns the authenticated mobile user.","responses":{"200":{"description":"Authenticated mobile user","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"address":{"type":"string"},"createdAt":{"type":"string"},"isActive":{"type":"boolean"},"lastLogin":{"type":"string","nullable":true},"updatedAt":{"type":"string"}},"required":["address","createdAt","isActive","lastLogin","updatedAt"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch user info","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/price-alerts":{"get":{"tags":["Mobile"],"summary":"Get price alert config","description":"Returns the price alert configuration for the authenticated mobile user.","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Price alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"symbols":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","symbols"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch price alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Mobile"],"summary":"Update price alert config","description":"Updates the price alert configuration for the authenticated mobile user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"symbols":{"type":"array","items":{"type":"string","minLength":1},"maxItems":100},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}}}}}},"responses":{"200":{"description":"Updated price alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"symbols":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","symbols"]}},"required":["data"]}}}},"400":{"description":"No registered device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update price alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/margin-alerts":{"get":{"tags":["Mobile"],"summary":"Get margin alert config","description":"Returns the margin alert configuration for the authenticated mobile user. Returns defaults if no config exists.","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Margin alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"warningThreshold":{"type":"number"},"criticalThreshold":{"type":"number"},"warningCooldownSeconds":{"type":"number"},"criticalCooldownSeconds":{"type":"number"},"excludedMarketIds":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","warningThreshold","criticalThreshold","warningCooldownSeconds","criticalCooldownSeconds","excludedMarketIds"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch margin alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Mobile"],"summary":"Update margin alert config","description":"Updates the margin alert configuration for the authenticated mobile user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"warningThreshold":{"type":"number","minimum":1.05,"maximum":10},"criticalThreshold":{"type":"number","minimum":1.01,"maximum":10},"warningCooldownSeconds":{"type":"integer","minimum":86400},"criticalCooldownSeconds":{"type":"integer","minimum":86400},"excludedMarketIds":{"type":"array","items":{"type":"string"}},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}}}}}},"responses":{"200":{"description":"Updated margin alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"warningThreshold":{"type":"number"},"criticalThreshold":{"type":"number"},"warningCooldownSeconds":{"type":"number"},"criticalCooldownSeconds":{"type":"number"},"excludedMarketIds":{"type":"array","items":{"type":"string"}}},"required":["isEnabled","warningThreshold","criticalThreshold","warningCooldownSeconds","criticalCooldownSeconds","excludedMarketIds"]}},"required":["data"]}}}},"400":{"description":"Invalid margin alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update margin alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/mobile/notifications/liquidation-alerts":{"get":{"tags":["Mobile"],"summary":"Get liquidation alert config","description":"Returns the liquidation alert configuration for the authenticated mobile user. Returns defaults if no config exists.","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Liquidation alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch liquidation alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Mobile"],"summary":"Update liquidation alert config","description":"Updates the liquidation alert configuration for the authenticated mobile user.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"}},"required":["isEnabled"]}}}},"responses":{"200":{"description":"Updated liquidation alert configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isEnabled":{"type":"boolean"}},"required":["isEnabled"]}},"required":["data"]}}}},"400":{"description":"No registered device","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to update liquidation alert config","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/tokens":{"get":{"tags":["Token"],"summary":"List tokens","description":"Fetches a paginated list of merged token metadata for a given network","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet","description":"Network to fetch tokens for","example":"mainnet"},"required":false,"description":"Network to fetch tokens for","name":"network","in":"query"},{"schema":{"type":"integer","minimum":1,"default":1,"description":"Page number (1-based)","example":1},"required":false,"description":"Page number (1-based)","name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":1000,"default":100,"description":"Tokens per page (max 1000)","example":100},"required":false,"description":"Tokens per page (max 1000)","name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of merged tokens","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffToken"}},"pagination":{"type":"object","properties":{"total":{"type":"number"},"page":{"type":"number"},"limit":{"type":"number"},"totalPages":{"type":"number"}},"required":["total","page","limit","totalPages"]}},"required":["data","pagination"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/balances/{address}":{"get":{"tags":["Account"],"summary":"Get bank balances","description":"Fetches on-chain bank balances for an address with full token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":1000,"default":200},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","default":"false"},"required":false,"name":"fetchAll","in":"query"}],"responses":{"200":{"description":"Bank balances with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffAccountBalancesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/portfolio/{address}":{"get":{"tags":["Account"],"summary":"Get account portfolio","description":"Fetches account portfolio with bank balances and subaccount balances, including full token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"Account portfolio with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffPortfolioResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/account/cw20-balances/{address}":{"get":{"tags":["Account"],"summary":"Get CW20 balances","description":"Fetches CW20 token balances for an address with enriched token metadata","parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"}],"responses":{"200":{"description":"CW20 balances with token metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BffCW20BalancesResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/onramp/quote":{"post":{"tags":["Onramp"],"summary":"Create onramp quote","description":"Returns a signed provider URL and normalized fee breakdown.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string","enum":["coinbase","moonpay","binance-connect"]},"amount":{"type":"number","minimum":5,"exclusiveMinimum":true,"maximum":20000},"fiatCurrency":{"type":"string","pattern":"^[A-Za-z]{3}$","default":"USD"},"walletAddress":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"network":{"type":"string","enum":["ethereum","arbitrum","base"]},"paymentMethod":{"type":"string","enum":["card","apple_pay","google_pay","ach","sepa","paypal","bank"],"default":"card"},"country":{"type":"string","pattern":"^[A-Za-z]{2}$"},"clientIp":{"type":"string"},"subdivision":{"type":"string","pattern":"^[A-Za-z]{2}$"},"redirectUrl":{"type":"string","format":"uri"},"failRedirectUrl":{"type":"string","format":"uri"},"useSandbox":{"type":"boolean"}},"required":["provider","amount","walletAddress","network","country","clientIp"]}}}},"responses":{"200":{"description":"Onramp quote and redirect URL","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"provider":{"type":"string","enum":["coinbase","moonpay","binance-connect"]},"url":{"type":"string","format":"uri"},"fiatAmount":{"type":"number"},"fiatCurrency":{"type":"string"},"cryptoAmount":{"type":"number"},"cryptoCurrency":{"type":"string","enum":["USDC"]},"network":{"type":"string","enum":["ethereum","arbitrum","base"]},"fees":{"type":"object","properties":{"networkFee":{"type":"number"},"providerFee":{"type":"number"},"partnerFee":{"type":"number"},"totalFee":{"type":"number"},"exchangeRate":{"type":"number"}},"required":["networkFee","providerFee","totalFee","exchangeRate"]},"expiresAt":{"type":"string"},"quoteId":{"type":"string"},"limits":{"type":"object","properties":{"minBuyAmount":{"type":"number"},"maxBuyAmount":{"type":"number"}},"required":["minBuyAmount","maxBuyAmount"]}},"required":["provider","url","fiatAmount","fiatCurrency","cryptoAmount","cryptoCurrency","network","fees","expiresAt"]}},"required":["data"]}}}},"400":{"description":"Validation error or unavailable provider","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"413":{"description":"Request body too large","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"502":{"description":"Provider error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/onramp/providers":{"get":{"tags":["Onramp"],"summary":"List available onramp providers","description":"Returns configured onramp providers available in the requested country.","parameters":[{"schema":{"type":"string","pattern":"^[A-Za-z]{2}$"},"required":true,"name":"country","in":"query"}],"responses":{"200":{"description":"Available providers","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"providers":{"type":"array","items":{"type":"string","enum":["coinbase","moonpay","binance-connect"]}},"providersWithStatus":{"type":"array","items":{"type":"object","properties":{"provider":{"type":"string","enum":["coinbase","moonpay","binance-connect"]},"status":{"type":"string","enum":["available","unavailable"]},"reason":{"type":"string","enum":["not_configured","country_blocked","region_unsupported"]}},"required":["provider","status"]}}},"required":["providers","providersWithStatus"]}},"required":["data"]}}}},"400":{"description":"Invalid country query param","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/entry-code/verify":{"get":{"tags":["EntryCode"],"summary":"Check entry code claim status","description":"Checks whether a wallet address has already claimed any entry code.","parameters":[{"schema":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i"},"required":true,"name":"address","in":"query"}],"responses":{"200":{"description":"Entry code claim status for wallet address","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"hasClaimedEntryCode":{"type":"boolean"}},"required":["hasClaimedEntryCode"]}},"required":["data"]}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"post":{"tags":["EntryCode"],"summary":"Verify and claim an entry code","description":"Verifies an entry code for a wallet address. If valid and not previously used by this address, it also claims one usage slot for that address.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","minLength":4,"maxLength":32,"pattern":"^[a-zA-Z0-9]+$"},"address":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i"}},"required":["code","address"]}}}},"responses":{"200":{"description":"Entry code is valid","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"isValid":{"type":"boolean"},"alreadyUsed":{"type":"boolean"},"code":{"type":"string","minLength":4,"maxLength":32,"pattern":"^[A-Z0-9]+$"},"usageCap":{"type":"integer","minimum":1},"totalUses":{"type":"integer","minimum":0},"remainingUses":{"type":"integer","minimum":0},"expiresAt":{"type":"string","nullable":true}},"required":["isValid","alreadyUsed","code","usageCap","totalUses","remainingUses","expiresAt"]}},"required":["data"]}}}},"403":{"description":"Entry code is disabled, expired, or fully used","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Entry code not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Too many verification attempts","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/faucet":{"post":{"tags":["Faucet"],"summary":"Request faucet INJ dust","description":"Sends a small amount of INJ to the provided Injective address if it passes balance and rate-limit checks.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"network":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"example":"testnet"},"address":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i","example":"inj1..."}},"required":["network","address"]}}}},"responses":{"200":{"description":"INJ dust sent successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"txHash":{"type":"string","example":"0xabc123..."},"amount":{"type":"string","example":"0.01"},"denom":{"type":"string","example":"inj"}},"required":["txHash","amount","denom"]}},"required":["data"]}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"409":{"description":"Address already has sufficient INJ balance","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/user/me":{"get":{"tags":["User"],"summary":"Get authenticated user","description":"Returns the authenticated TC web user.","responses":{"200":{"description":"Authenticated user","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"address":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"isActive":{"type":"boolean"},"lastLogin":{"type":"string","nullable":true}},"required":["address","createdAt","updatedAt","isActive","lastLogin"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to fetch user info","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/profile":{"post":{"tags":["Profile"],"summary":"Get authenticated address","description":"POC endpoint. Returns the caller's injective address. Requires a valid JWT (401 if not authenticated).","responses":{"200":{"description":"Authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string"}},"required":["address"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/app-config":{"get":{"tags":["AppConfig"],"summary":"Get app configuration","description":"Fetches the combined network and app-specific configuration for a given FE product","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"string","enum":["helix","tc","hub","explorer","bridge","tradingUi","mito","vmWebsite","doUi"],"description":"FE product app identifier","example":"helix"},"required":true,"description":"FE product app identifier","name":"app","in":"query"}],"responses":{"200":{"description":"Combined network and app configuration","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/BffAppConfig"}},"required":["data"]}}}},"404":{"description":"Config not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/polymarket/sign":{"post":{"tags":["Polymarket"],"summary":"Sign Polymarket Builder API request","description":"Returns Polymarket Builder authentication headers for the provided request payload.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"method":{"type":"string","minLength":1},"path":{"type":"string","minLength":1},"body":{"type":"string"}},"required":["method","path"]}}}},"responses":{"200":{"description":"Polymarket Builder authentication headers","content":{"application/json":{"schema":{"type":"object","properties":{"POLY_BUILDER_SIGNATURE":{"type":"string"},"POLY_BUILDER_TIMESTAMP":{"type":"string"},"POLY_BUILDER_API_KEY":{"type":"string"},"POLY_BUILDER_PASSPHRASE":{"type":"string"}},"required":["POLY_BUILDER_SIGNATURE","POLY_BUILDER_TIMESTAMP","POLY_BUILDER_API_KEY","POLY_BUILDER_PASSPHRASE"]}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Signing failed or credentials are not configured","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets":{"get":{"tags":["Derivative Markets"],"summary":"Get derivative markets","description":"Fetches perpetual derivative markets from Injective blockchain with token metadata and UI fields","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets/tc":{"get":{"tags":["Derivative Markets"],"summary":"Get derivative markets with token metadata","description":"Fetches perpetual derivative markets from Injective blockchain and transforms them with token metadata","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffTcDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/derivative/markets/helix":{"get":{"tags":["Derivative Markets"],"summary":"Get Helix derivative markets with token metadata","description":"Fetches perpetual derivative markets from Injective blockchain and transforms them with Helix branding","parameters":[{"schema":{"type":"string","enum":["mainnetK8s","mainnetLB","mainnet","mainnetSentry","mainnetOld","staging","internal","testnetK8s","testnetOld","testnetSentry","testnet","devnet1","devnet2","devnet3","devnet","local"],"default":"mainnet"},"required":false,"name":"network","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus","in":"query"},{"schema":{"type":"array","nullable":true,"items":{"type":"string","enum":["active","paused","expired","suspended","demolished"]}},"required":false,"name":"marketStatus[]","in":"query"}],"responses":{"200":{"description":"Helix derivative markets with token metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BffHelixDerivativeMarket"}},"excluded":{"type":"array","items":{"type":"object","properties":{"marketId":{"type":"string"},"ticker":{"type":"string"},"reason":{"type":"string"}},"required":["marketId","ticker","reason"]}}},"required":["data"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/api/v1/authorization":{"post":{"tags":["Auth"],"summary":"Authorize wallet signature","description":"Validates wallet signature and issues JWT + refresh token cookie. Supports autosign via granterAddress.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"signature":{"type":"string","example":"A9lVc2fw+..."},"data":{"type":"string","example":"Sign this message to authenticate with Injective Admin. Nonce: 9a1418fd-efdb-455d-9c61-57fcdadfb2f0"},"sender":{"type":"string","example":"inj1h4he4k6cyysc6yhhf4y7h3w0q6mc4vhh4vqv9n"},"granterAddress":{"type":"string","minLength":42,"maxLength":42,"pattern":"^inj1[a-zA-Z0-9]{38}$/i","example":"inj1h4he4k6cyysc6yhhf4y7h3w0q6mc4vhh4vqv9n"}},"required":["signature","data","sender"]}}}},"responses":{"200":{"description":"Authorization successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"accessToken":{"type":"string","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJpbmoxLi4uIiwiZXhwIjoxNzA1NTQwMDAwfQ.signature"},"expiresAt":{"type":"number","example":1705540000,"description":"JWT expiration timestamp in seconds"},"refreshTokenExpiresAt":{"type":"number","example":1705626400000,"description":"Refresh token expiration timestamp in milliseconds"}},"required":["accessToken","expiresAt","refreshTokenExpiresAt"]}},"required":["data"]}}}},"400":{"description":"Invalid auth payload or nonce","content":{"application/json":{"schema":{"type":"obj
[...]
